<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://kristenhuber.com"><span class="glyphicon glyphicon-user"></span> About the creator</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Connect with me: <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://linkedin.com/in/kristen-huber">LinkedIn</a></li>
            <li><a href="https://twitter.com/kristenhuber19">The Twitterverse</a></li>
            <li><a href="https://github.com/kristen-huber">Github</a></li>
            <li><a href="https://hackerrank.com/kristenhuber">HackerRank</a></li>
            </a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://freecodecamp.com"><span class="glyphicon glyphicon-book"></span>About Free Code Camp</a>
      </li>
    </ul>
  </div>
</nav>
