.jumbotron {
  background: #373737;
  color: #DCD0C0;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #F4F4F4;
    border-color: #C0B283; 
    color: #373737;}
    .jumbotron .btn-primary:hover {
      background: #C0B283; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .picture img{
    display: center;
    background: #C0B283;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: auto;
    border: 10px solid gray; }
  .jumbotron .link {
    color: #C0B283;
    display: center;}
     .jumbotron .link:hover {
       color: #DCD0C0;}
  .jumbotron .header {
    color: #C0B283;}

}



