<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% in6clude ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="https://en.wikipedia.org/wiki/Grace_Hopper#/media/File:Commodore_Grace_M._Hopper,_USN_(covered).jpg" class="picture">
      <img src="/Grace_Hopper">
    </a>
    <h1>Rear Admiral Grace M. Hopper</h1>
    <p>"Grace Brewster Murray Hopper was an American computer scientist and United States Navy Rear Admiral.[1] In 1944, she was one of the first programmers of the Harvard Mark I computer and invented the first compiler for a computer programming language. She popularized the idea of machine-independent programming languages, which led to the development of COBOL, one of the first high-level programming languages. She also popularized use of the term bug (already established in other technical contexts) in reference to computer software or hardware design failures.
<br><br>					
Owing to her accomplishments and her naval rank, she was sometimes referred to as "Amazing Grace". The U.S. Navy Arleigh Burke-class guided-missile destroyer USS Hopper was named for her, as was the Cray XE6 "Hopper" supercomputer at NERSC.
<br><br>
On November 22, 2016, she was posthumously awarded the Presidential Medal of Freedom by President Barack Obama."[1]</p>
    <a type="button" class="btn btn-lg btn-default" href="https://en.wikipedia.org/wiki/Grace_Hopper"><span class="glyphicon glyphicon-flash"></span> Read More about her on Wikipedia</a>

<a href="https://web.archive.org/web/20070205172441/http://www.chips.navy.mil/links/grace_hopper/grace4.jpg" class="picture"><img src="/Grace_Hopper_2"></a>
    
      <h3><span class="glyphicon glyphicon-link"></span> Related Links</h3>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Category:Women_computer_scientists">Female Computer Scientists</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Category:Female_admirals_of_the_United_States_Navy">Female Admirals of the United States Navy</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Category:Presidential_Medal_of_Freedom_recipients">Presidential Medal of Freedom Recipients</a></li>
        </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    [1] Grace Hopper. December 16, 2016. In <i> Wikipedia</i> Retrieved December 30, 2016, from https://en.wikipedia.org/wiki/Grace_Hopper
  </div>
</div>


</body>
</html>
