<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="https://en.wikipedia.org/wiki/Grace_Hopper#/media/File:Commodore_Grace_M._Hopper,_USN_(covered).jpg" class="jumbotron picture">
      <img src="/Grace_Hopper.jpg">
    </a>
    <div class= "jumbotron header"><h1>Rear Admiral Grace M. Hopper</h1></div>
    <p>"Grace Brewster Murray Hopper was an American computer scientist and United States Navy Rear Admiral. In 1944, she was one of the first programmers of the Harvard Mark I computer and invented the first compiler for a computer programming language. She popularized the idea of machine-independent programming languages, which led to the development of COBOL, one of the first high-level programming languages. She also popularized use of the term bug... in reference to computer software or hardware design failures.
</p><br><br><p>					
Owing to her accomplishments and her naval rank, she was sometimes referred to as "Amazing Grace". The U.S. Navy Arleigh Burke-class guided-missile destroyer USS Hopper was named for her, as was the Cray XE6 "Hopper" supercomputer at NERSC.
</p><br><br><p>
On November 22, 2016, she was posthumously awarded the Presidential Medal of Freedom by President Barack Obama."[1]</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://en.wikipedia.org/wiki/Grace_Hopper"><span class="glyphicon glyphicon-book"></span> Read More about her on Wikipedia</a>

<p><a href="https://web.archive.org/web/20070205172441/http://www.chips.navy.mil/links/grace_hopper/grace4.jpg" class="picture"><img src="Grace_Hopper_2.jpg"></a></p>
  
<div class= "jumbotron header"><h3><span class="glyphicon glyphicon-link"></span> Related Links</h3>
<a href="https://en.wikipedia.org/wiki/Category:Women_computer_scientists">Female Computer Scientists</a><br>
<a href="https://en.wikipedia.org/wiki/Category:Female_admirals_of_the_United_States_Navy">Female Admirals of the United States Navy</a><br>
<a href="https://en.wikipedia.org/wiki/Category:Presidential_Medal_of_Freedom_recipients">Presidential Medal of Freedom Recipients</a>
    </div></div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    [1] Grace Hopper. December 16, 2016. In <i> Wikipedia</i> Retrieved December 30, 2016, from https://en.wikipedia.org/wiki/Grace_Hopper
  </div>
</div>


</body>
</html>
